* {
  margin: 4;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fracciones.jpg');
}

.form-register {
  width: 400px;
  background: #c3f7fa;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px #000;
}


.controls {
  width: 100%;
  background: #c3f7fa;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1fa7c5;
  font-family: 'calibri';
  font-size: 20px;
  color: black;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.tam {
  text-align: center;
  font-size: 60px;
}

.form-register a {
  color: black;
  text-decoration: none;
}

.form-register a:hover {
  color: black;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1fa7c5;
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}
